/* MAIN BODY
-------------------------------------------------------------- */

body {
	font-size: 12px;
	color: #222;
	background: transparant;
	font-family: Helvetica;
	margin: 10px;
	-webkit-tap-highlight-color:rgba(30,144,255,0.5); /* Overrides highlight color shown when the user taps a link */
	-webkit-user-select: none;	/* This prevents the user from being able to select & copy text */
}

/* TEXT STYLES
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: Arial Rounded MT Bold;
	color: #0D0D0D;
}

h1 {
	font-size: 130%;
}

h2 {
	font-size: 110%;
}

p	{
	font-family:Helvetica;
}


/* Quick 'n Dirty Tableview - remove when native Tableviews introduced
-------------------------------------------------------------- */
		
ul {
	color: black;
	background: #fff;
	border: 1px solid #B4B4B4;
	font: 14px Arial Rounded MT Bold;
	text-shadow:1px 1px 0 #fff;
	padding: 0;	   
	margin: 15px 0px 17px 0;
	-webkit-border-radius: 8px;
	}
		
ul li {
	color: #666;
	border-top: 1px solid #B4B4B4;
	list-style-type: none;	
	padding: 10px 10px 10px 10px;
	background-color:#ededed;
	background-image: url(chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
	}
				
	li:first-child {	
	border-top: 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	}

	li:last-child {	
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	}
				
	ul li a {
	color: #000;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 12px 10px 12px 10px;
	margin: -10px;
	-webkit-tap-highlight-color:rgba(30,144,255,0.5);
	}
				

							
							
/* DIV's & CONTAINERS
-------------------------------------------------------------- */

.infobox	{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(0.9, #e6e6e6), color-stop(1, #eee));
	padding:10px;
	border: 1px solid #eaeaea;
	text-shadow:1px 1px 0 #fff;
	-webkit-border-radius: 8px;
	margin: 0 0 40px 0;
}

.greybutton		{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color:#222;
	text-align: center;
	text-shadow: 0px 1px 0 #eaeaea;
	padding: 0.5em 0;
	width: 97%;
	height: 15px;
	border: 1px solid #CCC;
	background: -webkit-gradient( linear, left top, left bottom, from(#efece9), to(#a2a1a0), color-stop(0.5, #bcbebf), color-stop(0.5, #9a9a9a) );
	margin: 0 0 20px 0;
	-webkit-background-origin: padding-box;
	-webkit-background-clip: border-box;
	-webkit-border-radius: 8px;
	-webkit-tap-highlight-color:rgba(30,144,255,0.5);
}


/* Misc. Classes
-------------------------------------------------------------- */

.code {
	font-family: "American Typewriter";
	font-size:70%;
	color: #7a2301;
}
